# lat,lon, name data are save as kml on each state

In [15]:
# import pandas
import pandas as pd

In [16]:
# read one of excel sheet from excel file
df = pd.read_excel(r"C:\Users\Ye\Desktop\Spatial_Analysis\Myanmar PCodes Release-IX_Sep2019_Countrywide.xlsx",sheet_name='_07_Villages')

# column slicing
df=df[:][['SR_Name_Eng','Village_Name_Eng','Longitude','Latitude']]

# checking slicing column and view for head
df.head()

  SR_Name_Eng               Village_Name_Eng  Longitude   Latitude
0  Ayeyarwady                 Da None Chaung  95.360931  16.189430
1  Ayeyarwady                   Hteik Chaung  95.317284  16.139151
2  Ayeyarwady                Kun Thee Chaung  95.335274  16.146061
3  Ayeyarwady                    Kyar Chaung  95.331573  16.188749
4  Ayeyarwady  Kyet Taung Chaung Sar Hpyu Su  95.362534  16.194571

In [17]:
# remove unwanted columns and rows
df=df.dropna()

In [18]:
# kml content
head = "<?xml version=\"1.0\" encoding=\"UTF-8\"?><kml xmlns=\"http://www.opengis.net/kml/2.2\" xmlns:gx=\"http://www.google.com/kml/ext/2.2\" xmlns:kml=\"http://www.opengis.net/kml/2.2\" xmlns:atom=\"http://www.w3.org/2005/Atom\"><Document><Folder>"
ptend ="</coordinates></Point></Placemark>"
tail="</Folder></Document></kml>"

# variable for altitude
alt = 0

# making list of all the state data
state_list =set(df['SR_Name_Eng'])

# check to see the list of state_list
print(state_list)

{'Bago (West)', 'Magway', 'Shan (South)', 'Tanintharyi', 'Kayah', 'Shan (East)', 'Chin', 'Ayeyarwady', 'Bago (East)', 'Yangon', 'Shan (North)', 'Kachin', 'Rakhine', 'Kayin', 'Nay Pyi Taw', 'Mandalay', 'Mon', 'Sagaing'}

In [20]:
# loop for state
for state in state_list:
    
    # making variable for each villages
    placemarks=""
    
    # iterate over rows with iterrows()
    for index,row in df.iterrows():
        
        # making variables for state, name, lat ,and lon
        strg=row[0]
        name=row[1]
        lon=row[2]
        lat=row[3]
        
        # condition for state (if eg.Yangon=Yangon = put all the data into the state)
        if state==strg:
            ptstart =f"<Placemark><name>{name}</name> <Point> <coordinates>"
            coordinates=str(lon)+","+str(lat)+","+str(alt)
            placemark =ptstart+coordinates+ptend
            placemarks =placemarks+placemark
            
        # making variables for each state kml format    
        kml_format =head+placemarks+tail
        
    # open file and write for each row on each state    
    with open(r"D:\Programming\Python_Summary_for_OMM\Jupyter_notebook\Auto GIS\Pandas\result\village_"+state+".kml","w",encoding='utf-8') as file:
        file.write(kml_format)
        
    print(state+"is_successfully_converted")

Bago (West)_successfully_converted
Magway_successfully_converted
Shan (South)_successfully_converted
Tanintharyi_successfully_converted
Kayah_successfully_converted
Shan (East)_successfully_converted
Chin_successfully_converted
Ayeyarwady_successfully_converted
Bago (East)_successfully_converted
Yangon_successfully_converted
Shan (North)_successfully_converted
Kachin_successfully_converted
Rakhine_successfully_converted
Kayin_successfully_converted
Nay Pyi Taw_successfully_converted
Mandalay_successfully_converted
Mon_successfully_converted
Sagaing_successfully_converted